@model Cart

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>
                Shopping Cart
            </h2>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.CartItems)
        {ghfgh
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="@item.Product.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Product.Name</h5>
                        <p class="card-text">@item.Product.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form asp-controller="Checkout" asp-action="RemoveFromCart" method="post">
                                    <input type="hidden" name="id" value="@item.Id.ToString()" /> <!-- Ensure this is a Guid -->
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
                                </form>
                            </div>
                            <small class="text-muted">$@item.Product.Price</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            <form asp-controller="Purchase" asp-action="CancelOrder" method="post">
                <button type="submit" class="btn btn-danger">Cancel Order</button>
            </form>
            <form asp-controller="Purchase" asp-action="Purchase" method="post">
                <button type="submit" class="btn btn-success">Purchase</button>
            </form>
        </div>
    </div>
</div>