@model List<InsuranceProduct>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>
                Purchase Insurance Products
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form method="post" action="@Url.Action("PruchaseProduct", "Insurance")">
                <div class="form-group">
                    <label for="insuranceProduct">Select a product:</label>
                    <select class="form-control" id="insuranceProduct" name="selectedProductId" asp-items="@(new SelectList(Model, "InsuranceProductId", "Name"))">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Purchase</button>
            </form>
        </div>
    </div>
</div>